:root {
  font-synthesis: style weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family:
    "Source Code Pro Variable", "Cascadia Code", Consolas, "Courier New", Courier, monospace;
}
